{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="main">
</div>
<div class="container about">
    <img src="/static/media/woman_holding_barbell_in_the_gym.jpg" alt="woman_holding_barbell_in_the_gym" class="float-left curved-edges mt-5 font-weight-bold">
    <div>
        <h5 class="text-center mt-5 mx-3">A more empowered you.</h5>
        Our goal? Helping you smash your goals. At Rubys, our mission is to empower women to take control of their fitness journey by providing
        a comprehensive and engaging mobile app experience.
        Our team of experts have come together to create an app that helps motivate and guide you towards acheiving your fitness goals.
    </div>
</div>



{% endblock%}