{% extends "base.html" %}
{% load static %}


{% block content %}
    <h1 class="text-center">Welcome to Rubys</h1>
    <div class="text-center">Welcome to our women's only fitness website, designed to support and inspire you on your journey to a healthier,stronger and more confident you.
        Our platform offers comprehensive range of exercise and meal plans tailored specifally to women's needs and goals
    </div>

    <div class="container">
        <img src="./media/woman-running.jpg" alt="woman-running" class="float-left">
        <p>
            <h5>Exercise plans</h5>
            Our exercise plans cater to various fitness levelss, from beginner to advanced, and focus on functional training, strength building, and cardiovqascular fitness. You'll
            find workouts that can be done at home, in a gym, or outdoors, using a variety of equipments and techniques. Whether you're looking to tone and sculpt, increase
             endurance, or boost overall fitness, our exercises are designed to help you acheive your objectives.
        </p>
    </div>
{% endblock %}