/*essentials for all pages */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    background-color: rgb(234, 206, 211);
    min-height: 100vh;

}

.btn-outline-black {
    background: rgb(219, 86, 108);
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
    border-radius: 60px;
}

.row-image {
    width: 100px;
}

button, .btn {
    color: rgb(219, 86, 108);
}

.navbar {
    background: rgb(219, 86, 108);
    font-size: 1.2rem;
    color: black;
}

.navbar a {
    outline: none;
    text-decoration: none;
    color: black;
}

.nav-container {
    display: flex;
    justify-content: center;
    width: 300px;
}

.nav-item {
    margin-left: 30px;
    margin-right: 30px;
}


a {
    outline: none;
    text-decoration: none;
    color: black;
}

.btt-link,
.update-link,
.remove-item,
.navbar, nav {
    cursor: pointer;
}

/* index page styling*/

.main {
    background: url('../media/selective_focused_woman_holding_2_1kg_dumbells.jpg') no-repeat center center/cover;
    height: 900px;
}

.about {
    margin-top: 25px;
}

.btn1 {
    height: 100px;
    width: 35%;
    border: none;
    outline: none;
    background: rgb(219, 86, 108);
    color: #000000;
    font-size: 20px;
    border-radius: 20px;
}

.btn1:hover {
    background-color: rgb(189, 79, 98);
    transition: 0.5s;
}

.buttons {
    height: 30px;
    width: 200px;
    border: 1px solid;
    background: rgb(219, 86, 108);
    border-radius: 10px;
    color: #000000;
    text-decoration: none; 
}


.plan {
    height: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid;
    background: rgb(219, 86, 108);
    border-radius: 10px;
    color: #000000;
    text-decoration: none; 
}

.plan:hover, .plan:active {
    text-decoration: none;
    background-color: rgb(189, 79, 98);
    transition: 0.5s;

}

.card-body:hover {
    box-shadow: -2px -1px 25px -4px rgba(219, 86, 108,0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(219, 86, 108,0.75);
    -moz-box-shadow: -2px -1px 25px -4px rgba(219, 86, 108,0.75);
    transition: 0.5s;
}

.card-body a {
    outline: none;
    text-decoration: none;
    color: black;
}

.plan-container a {
    outline: none;
    text-decoration: none;
    color: black;
}

.float-left {
    float: left;
    width: 100%;
    margin-bottom: 20px;   
}

.curved-edges {
    border-radius: 10px;
}

.curved-edges:hover {
    box-shadow: -2px -1px 25px -4px rgba(219, 86, 108,0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(219, 86, 108,0.75);
    -moz-box-shadow: -2px -1px 25px -4px rgba(219, 86, 108,0.75);
    transition: 0.1s;
}

.container {
    text-align: justify;
    margin-top: 20px;
}

.glutes-container {
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.glutes {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    border-radius: 0.5rem;
    text-decoration: none;
    border: 1px solid rgb(219, 86, 108);
    color: #000000;
}

h5, h1 {
    font-weight: bolder;
}

/* toast */
.toast {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}


/*exercise page styling*/
section {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: flex-end;
    background-color: rgb(219, 86, 108);
    color: rgb(234, 206, 211);
    font-size: 15px;
}

.exerc-bottom {
    width: 50%;
    justify-content: center;
    margin-left: 25%;
}
/* Meal plan page styling*/

.mainmeal {
    background: url('../media/vegetables_on_a_chopping_board.jpg') no-repeat center center/cover;
    height: 900px;
}

#mainmeal_text {
    padding-top: 400px;
    text-align: center;
    color: rgb(219, 86, 108);
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    border: 1px solid rgb(219, 86, 108);
    box-shadow: -2px -1px 25px -4px rgba(219, 86, 108,0.75);
}

.shadow {
    box-shadow: -2px -1px 25px -4px rgba(219, 86, 108,0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(219, 86, 108,0.75);
    -moz-box-shadow: -2px -1px 25px -4px rgba(219, 86, 108,0.75);
    border: 1px solid rgb(219, 86, 108);
}

/* Shops page styling*/

.search-dropdowns {
    text-align: center;
    width: 70%;
    font-size: 18px;
}

.category {
    font-size: 15px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.search-form {
    border-radius: 60px;
}

/*cart page styling*/
.cart {
    font-size: 12px;
    /* color: rgb(234, 206, 211); */
}

.cart-row {
    display: none;
    
}
.cart-border {
    border-bottom: 1px solid rgb(219, 86, 108);
}

.box-element {
    box-shadow: -2px -1px 25px -4px rgba(219, 86, 108,0.75);
    padding: 10px;
}

/* footer */
footer {
    background-color: rgb(219, 86, 108);
    color: #000000;

}

#support {
    margin-top: 10px;
}


/*Media queries of screen sizes bigger than 768px and up*/
/*Media queries*/
@media screen and (min-width :768px) {
    /* index.html */

    #text-container {
        width: 40%;
        justify-content: center;
        margin-left: 30%;
    }

    
    .float-left {
        width: 40%;
        margin-right: 50px;
    }

    .plan-container {
        display: flex;
    }

    .plans {
        font-size: 19px;
    }

    /* exerise page styling*/
    .exerc-bottom {
        justify-content: center;
        width: 40%;
        margin-left: 30%;
    }

    section {
        height: 600px;
        font-size: 25px;
    }

    #exercises {
        margin-top: 5rem;
        display: flex;
    }
    .btn1{
        height: 50px;
        border-radius: 60px;
    }

    video {
        height: 375px;
        width: 666px
    }

   /* meal plan pge*/
    #meal-text {
        height: 30px;
        width: 200px;
    }

    .container {
        margin-top: 30px;
    }


    /* cart page*/
    .cart-row, .cart-row1{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(219, 86, 108);
    }
    .small-screen {
        display: none;
    }
    
    .checkout-btn {
        float: right;
    }
    /* shop page*/
    .search-dropdowns {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 70%;
        font-size: 20px;
    }

    /*footer*/
    #support {
        margin-top: 0px;
    }
}

/*Media queries of screen sizes bigger than 992px and up*/
@media screen and (min-width: 992px){
    .exerc-bottom {
        justify-content: center;
        margin-left: 30%;
        margin-bottom: 20px;   
    }  
}

