* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body {
    background-color: rgb(234, 58, 87);
} */
.float-left {
    float: left;
    width: 100%;
    margin-bottom: 20px;   
}

.curved-edges {
    border-radius: 10px;
}

.container {
    text-align: justify;
    margin-top: 10px;
}

.glutes-container {
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.glutes {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    border-radius: 0.5rem;
    text-decoration: none;
    border: 1px solid #303030;
    color: #303030;
}
h5 {
    font-weight: bolder;
}

#arrow-container {
    margin-top: 7rem;
}
#arrow , #arrow_1, #arrow_2, #arrow_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: white;
}
.weeks {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 18px 40px;
    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0% 100%, 10% 55%, 0% 0%);
    background: rgb(234, 58, 87);
    color: #000000;
}
/*Media queries of screen sizes bigger than 768px and up*/
/*Media queries*/
@media screen and (min-width :768px) {
    #text-container {
        width: 40%;
        justify-content: center;
        margin-left: 30%;
    }
    
    .float-left {
        width: 40%;
        margin-right: 50px;
    }
    #arrow-container {
        margin-top: 7rem;
        display: flex;
        justify-content: space-around;
    }


    #plans {
        font-size: 19px;
    }
    .container {
        margin-top: 20px;
    }
}
