{% load static %}

<!doctype html>
<html lang="en">
    <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/3dac582a5a.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--Stripe-->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
         <!-- Favicon-->
        <link rel="icon" type="image/png" href="{{ MEDIA_URL }}icons8-exercise-female-color-hand-drawn-96.png">
        <title>Rubys Fitness Plan {% block extra_title %}{% endblock %}</title>
    </head>
    <body class="d-flex flex-column h-100 main-bg">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="{% url 'home' %}">Rubys <i class="fa-solid fa-dumbbell"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse nav-container navbar-collapse" id="navbarSupportedContent">
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class=" navbar font-weight-bold" href="{% url 'shop' %}">Shop</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="navbar dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our plan
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'exercise_page' %}">Programs</a>
                                <a class="dropdown-item" href="{% url 'MealPlanList' %}">Meal Plan</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class=" navbar font-weight-bold" href="{% url 'BlogList' %}">Community</a>
                        </li>
                        <li class="nav-item dropdown mt-2">
                            <a class="navbar dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'add_items' %}">Shop Manager</a>
                                <a class="dropdown-item" href="{% url 'add_glutes_exercise' %}">Add a new glutes workout</a>
                                <a class="dropdown-item" href="{% url 'add_abs_exercise' %}">Add a new abs workout</a>
                                <a class="dropdown-item" href="{% url 'add_meals' %}">Add a meal plan</a>
                                    {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                {% else %}
                                <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                                <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a  class="navbar {% if grand_total %} font-weight-bold{% else %}text-black{% endif %} navbar" href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-cart-shopping fa-xl mt-3">
                                        <h6 class="my-0 cart text-center" id="cart_quantity">
                                            {{ shop_count }}
                                        </h6>
                                    </i></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row text-center">
            <div class="col text-black">
                <h4 class="d-none my-1" style="font-size: 18px;" >Enjoy 50% off your one-off subscription today!</h4>                
            </div>            
        </div>
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toasts_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toasts_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toasts_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toasts_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        </div>    
    {% endif %}
    <main>
        {% block page_header %}
        {% endblock %}
    
        {% block content %}
        {% endblock %}

    </main>
      <!-- Footer -->
      <footer class="footer mt-auto py-3">
        <p class="text-black mx-5 mt-4">
            {% block copyright %}
            Rubys <i class="fa-solid fa-dumbbell"></i></p>
        {% endblock copyright %}
        <p class="mx-5">The fitness app trusted by millions of women.</p>
        <p class="m-0 mx-5">Follow us: <a href="https://www.facebook.com/" target="_blank"
                rel="nonopener" aria-label="Visit our facebook page(opens in a new tab)"> <i
                    class="fab fa-facebook-square ms-3"></i> </a>
            <a href="https://www.twitter.com/" target="_blank" rel="nonopener"
                aria-label="Visit our twitter page(opens in a new tab)"> <i class="fab fa-twitter-square ms-3"></i> </a>
            <a href="https://www.Instagram.com/" target="_blank" rel="nonopener"
                aria-label="Visit our instgram page (opens in a new tab)"> <i
                    class="fab fa-instagram-square ms-3"></i> </a>
            <a href="https://www.youtube.com/" target="_blank" rel="nonopener"
                aria-label="Visit our youtube page (opens in a new tab)"> <i class="fab fa-youtube-square ms-3"></i> </a>
        </p>
        <div id="support">
            <p class="text-center text-black">Support</p>
            <p class="m-0 text-center text-black"><i class="fa-solid fa-phone"></i>: 03000000000</p>
        </div>
    </footer>


    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}   
    </body>
</html>