{% load static %}

<!doctype html>
<html lang="en">
    <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Rubys Fitness Plan {% block extra_title %}{% endblock %}</title>
        <meta name="description" content="Ladies only fitness app | persornalised nutrition and exercise plans strictly for ladies | online fitness store">
        <meta name="keywords" content="Ladies-only fitness plan, ladies-only workouts, nutrition plans for women, personalised fitness plans, exercise plans for women, women's health, buy gym accessories">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block mailchimpcss %}
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/3dac582a5a.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--Stripe-->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
         <!-- Favicon-->
        <link rel="icon" type="image/png" href="{{ MEDIA_URL }}icons8-dumbell-filled-outline-96.png">
    </head>
    <body class="d-flex flex-column h-100 main-bg">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="{% url 'home' %}">Rubys <i class="fa-solid fa-dumbbell"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse nav-container navbar-collapse" id="navbarSupportedContent">
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class=" navbar font-weight-bold" href="{% url 'shop' %}">Shop</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="navbar dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our plan
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'exercise_page' %}">Programs</a>
                                <a class="dropdown-item" href="{% url 'MealPlanList' %}">Meal Plan</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class=" navbar font-weight-bold" href="{% url 'BlogList' %}">Community</a>
                        </li>
                        <li class="nav-item dropdown mt-2">
                            <a class="navbar dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'add_items' %}">Shop Manager</a>
                                <a class="dropdown-item" href="{% url 'add_glutes_exercise' %}">Add a new glutes workout</a>
                                <a class="dropdown-item" href="{% url 'add_abs_exercise' %}">Add a new abs workout</a>
                                <a class="dropdown-item" href="{% url 'add_meals' %}">Add a meal plan</a>
                                    {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                {% else %}
                                <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                                <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a  class="navbar {% if grand_total %} font-weight-bold{% else %}text-black{% endif %} navbar" href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-cart-shopping fa-xl mt-3">
                                        <span class="my-0 cart text-center font-weight-bold" id="cart_quantity">
                                            {{ shop_count }}
                                        </span>
                                    </i></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row text-center">
            <div class="col text-black">
                <h4 class="d-none my-1" style="font-size: 18px;" >Enjoy 50% off your one-off subscription today!</h4>                
            </div>            
        </div>
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toasts_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toasts_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toasts_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toasts_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        </div>    
    {% endif %}
    <main>
        {% block page_header %}
        {% endblock %}
    
        {% block content %}
        {% endblock %}

    </main>
      <!-- Footer -->
      <footer class="footer mt-auto py-3">
        <p class="text-black mx-5 mt-4">
            {% block copyright %}
            Rubys <i class="fa-solid fa-dumbbell"></i></p>
        {% endblock copyright %}
        <p class="mx-5">The fitness app trusted by millions of women.</p>
        <p class="m-0 mx-5">Follow us: <a href="https://www.facebook.com/" target="_blank"
                rel="nonopener" aria-label="Visit our facebook page(opens in a new tab)"> <i
                    class="fab fa-facebook-square ms-3"></i> </a>
            <a href="https://www.twitter.com/" target="_blank" rel="nonopener"
                aria-label="Visit our twitter page(opens in a new tab)"> <i class="fab fa-twitter-square ms-3"></i> </a>
            <a href="https://www.Instagram.com/" target="_blank" rel="nonopener"
                aria-label="Visit our instgram page (opens in a new tab)"> <i
                    class="fab fa-instagram-square ms-3"></i> </a>
            <a href="https://www.youtube.com/" target="_blank" rel="nonopener"
                aria-label="Visit our youtube page (opens in a new tab)"> <i class="fab fa-youtube-square ms-3"></i> </a>
        </p>
        <div id="support">
            <p class="text-center text-black">Support</p>
            <p class="m-0 text-center text-black"><i class="fa-solid fa-phone"></i>: 03000000000</p>
            <p class="text-center">Click on the email address to send your enquiries
                <a href="mailto:rubyfitnessplan@gmail.com"> rubyfitnessplan@gmail.com</a>
            </p>
        </div>
        <div id="mc_embed_shell" class="container-fluid">
            <div id="mc_embed_signup">
                <div class="subscribe-tag">
                    <h3 class="display-flex">Subscribe!</h3>
                    <hr>
                    <p>Subscribe and be the first to be notified of exclusive deals!</p>
                    <hr>
                </div>
                <form action="https://herokuapp.us19.list-manage.com/subscribe/post?u=80ddd0e66a83192fce6bb3e38&amp;id=c9aa472b53&amp;f_id=00cf87e3f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div id="mc_embed_signup_scroll">
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                        <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text" name="b_80ddd0e66a83192fce6bb3e38_c9aa472b53" tabindex="-1" value=""></div><div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 text-center">
            <a href="https://www.termsfeed.com/live/fd105f09-b01d-4d4b-b66a-136ecfe61195">Read Our Privacy Policy</a>
        </div>
    </footer>


    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}
    {% block mailchimpjs %}
    <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script>
        (function($) {window.fnames = new Array(); 
        window.ftypes = new Array();
        fnames[0]='EMAIL';
        ftypes[0]='email';
        fnames[1]='FNAME';
        ftypes[1]='text';
        fnames[2]='LNAME';
        ftypes[2]='text';
        fnames[3]='ADDRESS';
        ftypes[3]='address';
        fnames[4]='PHONE';
        ftypes[4]='phone';
        fnames[5]='BIRTHDAY';
        ftypes[5]='birthday';
        fnames[6]='COMPANY';
        ftypes[6]='text';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    {% endblock %} 
    </body>
</html>
