{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
<div class="overlay"></div>
{% for shop in shops %}
    <div class="row">
        <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light">
                    <a href="{% url 'item_details' shop.id %}">
                        <img class="card-img-top" src="{{ shop.image.url }}" alt="{{ shop.name }}" >    
                    </a>

                <h6>{{ shop.name }}</h6>

            </div>

        </div>
    {% endfor %}
    </div>
</div>
<!-- <div class="col-10 offset-1">
    <div class="row mt-1 mb-2"></div>
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <div class="col-lg-3">
                    <a href="">
                        <img class="card-img-top" src="{{ shop.image.url }}" alt="{{ shop.name }}">    
                    </a>
                <div class="card-body">
                <h5 class="card-title">{{ shop.name }}</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div> -->

{% endblock%}
<!-- <div class="container">
    <div class="row">
        <div class="col-lg-4">
            
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card-body">
                <a href="">
                <img class="card-img-top img-fluid" src="{{ shop.image.url }}" alt="{{ shop.name }}">
                </a>
                <p class="mb-0">{{ shop.name }}</p>  
                </div>            
            </div>
        </div>
    </div>
</div> -->

         <!-- <div class="col text-center mt-3">
            <h2 class="logo-font">Shop</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="shop-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for shop in shops %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                             {% if shop.image %}
                             <a href=""> -->
                                <!-- <img class="card-img-top img-fluid" src="{{ shop.image }}" alt="{{ shop.name }}">
                            </a>  -->
                                <!-- {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a> -->
                                <!-- {% endif %} -->
                            <!-- <div class="card-body pb-0">
                                <p class="mb-0">{{ shop.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">{{ shop.color }}</p>
                                        <p class="lead mb-0 text-left font-weight-bold">£{{ shop.price }}</p>
                                     --> 
                                    <!-- {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %} -->
                                    <!-- {% if product.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %} -->
                                    <!-- {% if request.user.is_superuser %}
                                        <small class="ml-3">
                                            <a href="">Edit</a> | 
                                            <a class="text-danger" href="">Delete</a>
                                        </small>
                                    {% endif %}
                                </div> -->
                                    <!-- </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>     
    </div>
</div>
{% endfor %} -->


