{% load static %}

<!doctype html>
<html lang="en">
    <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/3dac582a5a.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--Stripe-->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

        <title>Rubys Fitness Plan {% block extra_title %}{% endblock %}</title>
    </head>
    <body class="d-flex flex-column h-100 main-bg">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="{% url 'home' %}">Rubys <i class="fa-solid fa-dumbbell"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse nav-container navbar-collapse" id="navbarSupportedContent">
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'shop' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All Products
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'shop' %}?sort=price&direction=asc">By Price</a>
                              <a class="dropdown-item" href="{% url 'shop' %}?sort=category&direction=asc">By Category</a>
                              <a class="dropdown-item" href="{% url 'shop' %}">All products</a>
                            </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Gym wear
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=gym_wears">gym sets</a>
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=socks">socks</a>
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=trainers">Trainers</a>
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=gym_wears,trainers,socks">All gym wears</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Weights
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=dumbells">Dumbells</a>
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=kettle_bells">Kettlebells</a>
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=dumbells,kettle_bells">All weights</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Accessories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=bottles">Water bottles</a>
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=mats">Yoga mats</a>
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=bags">Gym bag</a>
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=gloves">Gloves</a>
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=jump_ropes">Jump ropes</a>
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=resistance_bands">Resistance bands</a>
                                    <a class="dropdown-item" href="{% url 'shop' %}?category=bottles,mats,bags,gloves,jump_ropes,resistance_bands">All accessories</a>
                                </div>
                            </li>
                            <!-- <li class="nav-item">
                            <a class="nav-link " href="{% url 'BlogList' %}">Community</a>
                            </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'add_exercises' %}">Site Manager</a>
                                        {% endif %}
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                    {% else %}
                                    <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                                    <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <a  class=""href="{% url 'view_cart' %}">
                                    <div class="text-center">
                                        <div><i class="fas fa-cart-shopping fa-xl mt-3">
                                            <p class="my-0 cart text-center" id="cart_quantity">
                                                {{ shop_count }}
                                            </p>
                                        </i></div>
                                    </div>
                                </a>
                            </li>
                    </ul>
                </div>
                <div>
                    <form method="GET" action="{% url 'shop' %}" class="form-inline search my-2 my-lg-0 justify-content-md-end">
                        <input class="form-control mr-sm-2 me-2" type="search" name="q" placeholder="Search our shop" aria-label="Search">
                        <button class="btn my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="logo-font mb-4 text-center font-weight-bold mt-4" style="color: rgb(219, 86, 108)">SHOP
                    </h2>
                    <hr  class="w-100 mb-1">
                </div>
            </div>
            <div class="row">
                <div class="search-container col-10 offset-1">
                    <div class="row mt-1 mb-2">
                        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                            <div class="sort-select-wrapper w-50">
                                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 order-md-first">
                            <p class="text-muted mt-3 text-center text-md-left">
                                {% if search_term or current_categories or current_sorting != 'None_None' %}
                                    <span class="small"><a href="{% url 'shop' %}">SHOP</a> | </span>
                                {% endif %}
                                {{ shops|length }} item(s) {% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for shop in shops %}
                    {% if shop.image %}
                    <div class="col-lg-3 card-body">
                        <a href="{% url 'item_details' shop.id %}">
                            <img class="card-img-top mt-3" src="{{ shop.image.url }}" alt="{{ shop.name }}" >    
                       
                        {% else %}
                        <a href="{% url 'item_details' shop.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ shop.name }}">
                    {% endif %}
                    <div class="box-element shop">
                        <h6><strong>{{ shop.name }}</strong></h6>
                        <hr>
                        <h4>
                            <p class="text-muted category">{{ shop.category.friendly_name }}</p>
                            £{{shop.price|floatformat:2}}
                        </h4>
                    </div>   
                </div>
                {% endfor %}
            </div>
        </div> </a></a>
        <div class="btt-button shadow-sm rounded-0 border border-black">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
            </a>	
        </div>
        <!-- <div class="container">
            <div class="overlay"></div>
            {% for shop in shops %}
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <div class="card border-0 bg-light">
                                <a href="{% url 'item_details' shop.id %}">
                                    <img class="card-img-top" src="{{ shop.image.url }}" alt="{{ shop.name }}" >    
                                </a>
            
                            <h6>{{ shop.name }}</h6>
            
                        </div>
            
                    </div>
                    <button type=button class="btn btn-secondary" value="{{ shop.id }}" id="add-cart">Add to cart </button>
                {% endfor %}
                </div>
            </div> -->
            
          <!-- <nav class="navbar" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Library</a></li>
              <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
          </nav>
         -->

    <!-- Navigation -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Rubys <i class="fa-solid fa-dumbbell"></i> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a> 
                        {% endif %}
                    </div> -->
                    <!-- <li class="list-inline-item">
                        <a class="" href="">
                            <div class="text-center mt-2">
                                <div><i class="fa-solid fa-basket-shopping"></i></div>
                            </div>
                        </a>
                    </li> -->

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toasts_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toasts_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toasts_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toasts_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        </div>  
    {% endif %}

    {% block page_header %}
    {% endblock %}
<main>
    {% block content %}
    {% endblock %}

</main>


          <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <p class="text-black mx-5 mt-4">
            {% block copyright %}
            Rubys <i class="fa-solid fa-dumbbell"></i></p>
        {% endblock copyright %}
        <p class="mx-5">The fitness app trusted by millions of women.</p>
        <p class="m-0 mx-5">Follow us: <a href="https://www.facebook.com/" target="_blank"
                rel="nonopener" aria-label="Visit our facebook page(opens in a new tab)"> <i
                    class="fab fa-facebook-square ms-3"></i> </a>
            <a href="https://www.twitter.com/" target="_blank" rel="nonopener"
                aria-label="Visit our twitter page(opens in a new tab)"> <i class="fab fa-twitter-square ms-3"></i> </a>
            <a href="https://www.Instagram.com/" target="_blank" rel="nonopener"
                aria-label="Visit our instgram page (opens in a new tab)"> <i
                    class="fab fa-instagram-square ms-3"></i> </a>
            <a href="https://www.youtube.com/" target="_blank" rel="nonopener"
                aria-label="Visit our youtube page (opens in a new tab)"> <i class="fab fa-youtube-square ms-3"></i> </a>
        </p>
        <div id="support">
            <p class="text-center text-black">Support</p>
            <p class="m-0 text-center text-black"><i class="fa-solid fa-phone"></i>: 03000000000</p>
        </div>
    </footer>
    {% block postloadjs %}
{% include 'shop/includes/quantity_script.html' %}

    <script type="text/javascript">
        $('.toast').toast('show');
    </script>

    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}

    
    </body>
</html>



<!-- <div class="col-10 offset-1">
    <div class="row mt-1 mb-2"></div>
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <div class="col-lg-3">
                    <a href="">
                        <img class="card-img-top" src="{{ shop.image.url }}" alt="{{ shop.name }}">    
                    </a>
                <div class="card-body">
                <h5 class="card-title">{{ shop.name }}</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="container">
    <div class="row">
        <div class="col-lg-4">
            
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card-body">
                <a href="">
                <img class="card-img-top img-fluid" src="{{ shop.image.url }}" alt="{{ shop.name }}">
                </a>
                <p class="mb-0">{{ shop.name }}</p>  
                </div>            
            </div>
        </div>
    </div>
</div> -->

         <!-- <div class="col text-center mt-3">
            <h2 class="logo-font">Shop</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="shop-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for shop in shops %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                             {% if shop.image %}
                             <a href=""> -->
                                <!-- <img class="card-img-top img-fluid" src="{{ shop.image }}" alt="{{ shop.name }}">
                            </a>  -->
                                <!-- {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a> -->
                                <!-- {% endif %} -->
                            <!-- <div class="card-body pb-0">
                                <p class="mb-0">{{ shop.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">{{ shop.color }}</p>
                                        <p class="lead mb-0 text-left font-weight-bold">£{{ shop.price }}</p>
                                     --> 
                                    <!-- {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %} -->
                                    <!-- {% if product.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %} -->
                                    <!-- {% if request.user.is_superuser %}
                                        <small class="ml-3">
                                            <a href="">Edit</a> | 
                                            <a class="text-danger" href="">Delete</a>
                                        </small>
                                    {% endif %}
                                </div> -->
                                    <!-- </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>     
    </div>
</div>
{% endfor %} -->
