
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="search-dropdowns container">
    <div class="dropdown">
        <a class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Products
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'shop' %}?sort=price&direction=asc">By Price</a>
            <a class="dropdown-item" href="{% url 'shop' %}?sort=category&direction=asc">By Category</a>
            <a class="dropdown-item" href="{% url 'shop' %}">All products</a>
        </div>
    </div>
    <div class="dropdown">
        <a class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gym wear
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'shop' %}?category=gym_wears">gym sets</a>
            <a class="dropdown-item" href="{% url 'shop' %}?category=socks">socks</a>
            <a class="dropdown-item" href="{% url 'shop' %}?category=trainers">Trainers</a>
            <a class="dropdown-item" href="{% url 'shop' %}?category=gym_wears,trainers,socks">All gym wears</a>
        </div>
    </div>
    <div class="dropdown">
        <a class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Weights
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'shop' %}?category=dumbells">Dumbells</a>
            <a class="dropdown-item" href="{% url 'shop' %}?category=kettle_bells">Kettlebells</a>
            <a class="dropdown-item" href="{% url 'shop' %}?category=dumbells,kettle_bells">All weights</a>
        </div>
    </div>
    <div class="dropdown">
        <a class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Accessories
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'shop' %}?category=bottles">Water bottles</a>
            <a class="dropdown-item" href="{% url 'shop' %}?category=mats">Yoga mats</a>
            <a class="dropdown-item" href="{% url 'shop' %}?category=bags">Gym bag</a>
            <a class="dropdown-item" href="{% url 'shop' %}?category=gloves">Gloves</a>
            <a class="dropdown-item" href="{% url 'shop' %}?category=jump_ropes">Jump ropes</a>
            <a class="dropdown-item" href="{% url 'shop' %}?category=resistance_bands">Resistance bands</a>
            <a class="dropdown-item" href="{% url 'shop' %}?category=bottles,mats,bags,gloves,jump_ropes,resistance_bands">All accessories</a>
        </div>
    </div>
    <div class="justify-content-end">
        <form method="GET" action="{% url 'shop' %}" class="form-inline search my-2 my-lg-0 ">
            <input class="form-control search-form mr-sm-2 me-2" type="search" name="q" placeholder="Search our shop" aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit">
                <span class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i></button>
                </span>
        </form>
    </div>  
</div>    
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4 text-center font-weight-bold mt-4" style="color: rgb(219, 86, 108)">SHOP
            </h2>
            <hr  class="w-100 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="search-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'shop' %}">SHOP</a> | </span>
                        {% endif %}
                        {{ shops|length }} item(s) {% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for shop in shops %}
            {% if shop.image %}
            <div class="col-lg-3 card-body">
                <a href="{% url 'item_details' shop.id %}">
                    <img class="card-img-top mt-3" src="{{ shop.image.url }}" alt="{{ shop.name }}" >    
                
                {% else %}
                <a href="{% url 'item_details' shop.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ shop.name }}">
            {% endif %}
            <div class="box-element shop">
                <h6><strong>{{ shop.name }}</strong></h6>
                <hr>
                <h4>
                    <p class="text-muted category">{{ shop.category.friendly_name }}</p>
                    £{{shop.price|floatformat:2}}
                </h4>
            </div>  
            {% if request.user.is_superuser %}
            <small class="ml-3">
                <a style="color: rgb(189, 58, 80);" href="{% url 'edit_items' shop.id %}">Edit</a> | 
                <a style="color: rgb(189, 58, 80);" href="{% url 'delete_items' shop.id %}">Delete</a>
            </small>
            {% endif %} 
        </div>
        {% endfor %}
    </div>
</div> </a></a>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}
    {% block postloadjs %}
{% include 'shop/includes/quantity_script.html' %}

    <script type="text/javascript">
        $('.toast').toast('show');
    </script>

    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}

    
    </body>
</html>
