{% extends "base.html" %}
{% load static %}


{% block content %}
<div id="arrow-container">
    <div id="arrow">
        <a href="{% url 'glutes_week1' %}" class="weeks">week 1</a>
    </div>

    <div id="arrow_1">
        <a href="{% url 'glutes_week2' %}" class="weeks">week 2</a>
    </div>

    <div id="arrow_2">
        <a href="{% url 'glutes_week3' %}" class="weeks">week 3</a>
    </div>

    <div id="arrow_3">
        <a href="{% url 'glutes_week4' %}" class="weeks">week 4</a>
    </div>
</div>
{% endblock %}
