{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Add intro</h1>
<h1 class="text-center"> Choose a program </h1>
<div class="card-body glutes-container"> <a href="{% url 'exercises_list' %}">
    <img src="/static/media/woman_liftingweight_in_the_gym2.jpg" alt="woman_liftingweight_in_the_gym" class="curved-edges ">
    <button class="glutes">Glutes</button>
</div></a>

<div class="card-body glutes-container"> <a href="{% url 'exercises_list' %}">
    <img src="/static/media/Close_Up_View_of_a_Person's_Abs.jpg" alt="Close_Up_View_of_a_Person's_Abs" class="curved-edges ">
    <button class="glutes">Abs</button>
</div></a>


{% endblock %}