{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <section>
        <div class="exerc-bottom">
            <h1 class="text-center font-weight-bold ">Exercises</h1>
            <p class="text-center font-weight-bold">No matter what program or workout you're following, these instructional videos and how-to guides will help you master every movement </p>
        </div>
    </section>
</div>
<div class="plan-container">
    <div class="container mt-5">
        <a href="{% url 'glutes_exercises' %}">
            <h5 class="text-center mt-5 plan mx-3">Glutes</h5>
            <img src="{{ MEDIA_URL }}woman_performing_squats_in_the_gym2.jpg" alt="woman_liftingweight_in_the_gym" class="float-left curved-edges mt-5 font-weight-bold"></a> 
        <div id="plans">
            Our meal plans are designed to support your fitness goals, providing balanced and nutritious diet that fuels your body for optimal performance.
            Our plans take into account variety dietary needs and preferences, including vegetarian, gluten-free, and low-carb options. You'll receive personalized
            guidance on portion control, macronutrient ratios, and healthy eating habits to suport your weight loss, maintenance or muscle-building goals.
        </div>
    </div>
</div>
<div class="plan-container">
    <div class="container mt-5">
        <a href="{% url 'abs_exercises' %}">
            <h5 class="text-center plan  mt-5 mx-3">Abs</h5>
            <img src="{{ MEDIA_URL }}woman_working_out_on_a_yoga_mat_at_home.jpg" alt="woman_liftingweight_in_the_gym" class="float-left curved-edges mt-4 font-weight-bold"></a>
        <div id="plans">
            Our exercise plans cater to various fitness levels, from beginner to advanced, and focus on functional training, strength building, and cardiovascular fitness. You'll
            find workouts that can be done at home, in a gym, or outdoors, using a variety of equipments and techniques. Whether you're looking to tone and sculpt, increase
            endurance, or boost overall fitness, our exercises are designed to help you acheive your objectives.
        </div>
    </div>   
</div>
{% endblock %}