{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="plan-container">
    <div class="container  text-center">
        {% for glutes_exercise in glutes_exercises %}
        <h1 class="">{{ glutes_exercise.name }}</h1>
        {% if glutes_exercise.video %}
        <a href="{{ glutes_exercise.video.url }} " target="_blank">
        <video class="text-center curved-edges" src="{{ glutes_exercise.video.url }}" autoplay muted loop fit height="250px" width="250px">
        </video></a>
            {% else %}
        <p>No video available</p>
        {% endif %}
        <div id="plans" class="">
            <p>{{ glutes_exercise.description | safe }}</p>
            <p style='color:  rgb(189, 58, 80);'>SETS:{{ glutes_exercise.sets }}</p>
            <p style='color:  rgb(189, 58, 80);'>REPS:{{ glutes_exercise.reps }}</p>
        </div>
        {% if request.user.is_superuser %}
            <small class="ml-3">
            <a href="{% url 'edit_glutes_exercise' glutes_exercise.id %}">Edit</a> | 
            <a href="{% url 'delete_glutes_exercise' glutes_exercise.id %}">Delete</a>
            </small>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}