{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="plan-container">
    <div class="container  text-center">
        {% for exercise in exercises %}
        <h1 class="">{{ exercise.name }}</h1>
        {% if exercise.video %}
        <a href="{{ exercise.video.url }} " target="_blank">
        <video class="text-center curved-edges" src="{{ exercise.video.url }}" autoplay muted loop fit height="250px" width="250px">
        </video></a>
            {% else %}
        <p>No video available</p>
        {% endif %}
        <div id="plans" class="">
            <p>{{ exercise.description | safe }}</p>
            <p style='color:  rgb(189, 58, 80);'>SETS:{{ exercise.sets }}</p>
            <p style='color:  rgb(189, 58, 80);'>REPS:{{ exercise.reps }}</p>
        </div>
        {% if request.user.is_superuser %}
            <small class="ml-3">
            <a href="{% url 'edit_exercise' exercise.id %}">Edit</a> | 
            <a  href="{% url 'delete_exercise' exercise.id %}">Delete</a>
            </small>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}